.cursor_auto {
  cursor: auto;
}
.cursor_default {
  cursor: default;
}
.cursor_none {
  cursor: none;
}
.cursor_context-menu {
  cursor: context-menu;
}
.cursor_help {
  cursor: help;
}
.cursor_pointer {
  cursor: pointer;
}
.cursor_progress {
  cursor: progress;
}
.cursor_wait {
  cursor: wait;
}
.cursor_cell {
  cursor: cell;
}
.cursor_crosshair {
  cursor: crosshair;
}
.cursor_text {
  cursor: text;
}
.cursor_vertical-text {
  cursor: vertical-text;
}
.cursor_alias {
  cursor: alias;
}
.cursor_copy {
  cursor: copy;
}
.cursor_move {
  cursor: move;
}
.cursor_no-drop {
  cursor: no-drop;
}
.cursor_not-allowed {
  cursor: not-allowed;
}
.cursor_all-scroll {
  cursor: all-scroll;
}
.cursor_col-resize {
  cursor: col-resize;
}
.cursor_row-resize {
  cursor: row-resize;
}
.cursor_n-resize {
  cursor: n-resize;
}
.cursor_e-resize {
  cursor: e-resize;
}
.cursor_s-resize {
  cursor: s-resize;
}
.cursor_w-resize {
  cursor: w-resize;
}
.cursor_ns-resize {
  cursor: ns-resize;
}
.cursor_ew-resize {
  cursor: ew-resize;
}
.cursor_ne-resize {
  cursor: ne-resize;
}
.cursor_nw-resize {
  cursor: nw-resize;
}
.cursor_se-resize {
  cursor: se-resize;
}
.cursor_sw-resize {
  cursor: sw-resize;
}
.cursor_nesw-resize {
  cursor: nesw-resize;
}
.cursor_nwse-resize {
  cursor: nwse-resize;
}
